/* Generalmente se arranca con  margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    Para una salida mas limpia del codigo */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: 'poppins-medium';
    src: url('/Asset/fonts/Poppins-Medium.ttf');
}

html{
    font-family: 'poppins-medium';
}

/* Navegación del Home*/

.navbar{
    padding: 10px;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
}
.navbar .logo{
    width: 100%;
    height: 100%;
    grid-column: 1/3; 
    /* grid-colum es para forzar a mi item que vaya de la columna 1 a la 3 lo mismo con Rows*/   
    border-radius: 50%;
    border: solid 5px yellow;
}
.menu{
    display: flex;
    align-items: center;
    grid-column: 4/10;
    
    

}
.navbar .menu{
    display: flex;
    justify-content: space-around;
    grid-column: 4/11;
}
/* Gird a un grupo/ seccion y Flex a un items */
.navbar .menu li{
    list-style: none;
    color: black;
    cursor: pointer; /* es para que cuando elijas con el mouse esta lista aparezca la manito y no la flecha comun*/
    
}

.navbar .menu a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    justify-content: space-between;

}

.navbar .menu-bar {
    display: none;
}
.navbar .logocontacto {
    grid-column: 12/12;
    align-items: center;
    width: 30%;
}

/*Main css*/

.ContenedorMain {
    height: 80vh;
    background-image: url(/Asset/img/persona-dando-clase.jpg);
    background-position: center;
    background-size:cover ;

    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr); }

.fotomain{
    background-size: cover;
    width: 70%;
    height: 100%;
    max-width: 100%;
    display: grid;
    max-height: 100%;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
}

.ContenedorMain .contenedor {
    grid-column: 5/10;
    grid-row: 2/7;
    color: yellow;
}

.ContenedorMain h3{
    font-size: 20px;
    font-weight: 300;
}

.ContenedorMain h1{
    font-size: 35px;
    color: white;
    text-transform: uppercase ;
}
.ContenedorMain p{
    font-weight: 200;
}

.ContenedorMain .botondeContacto{
    font-family: 'poppins-medium';
    font-size: 15px;
    font-weight: 600;
    background: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px ;
    border: solid 2px grey;
    margin-top: 5%;
    margin-left: 35%;
    cursor: pointer;
}

/* Footer - Pie de página - */

.ContenedorDePie{
    display: grid;
    height: 90px;
    align-items: center;
    background-color: grey;
    color: black;
    grid-template-areas: "derechos seguime redes-sociales";
}
.ContenedorDePie .edicionCoderHouse{
    grid-area: derechos;
    justify-content: center; }
.seguime{ 
    color: white;
}
}
}
.ContenedorDePie .seguime{
    grid-area: seguime;
    display: flex;
    justify-content: center;
}
.ContenedorDePie .redessocialespie{
    grid-area:redes-sociales;
    display: flex;
    justify-content: space-evenly ; /* me separa los items, en este caso los iconos de redes sociales*/
    font-size: 20px;
}


/* Media Queries */
/* Hedear*/

@media screen and (max-width: 600px) {
    .navbar{
        position: relative;
    }
    .navbar .logocontacto {
        display: none;
    }   
    .navbar .menu-bar{
        display: block;
        grid-column: 6/9;

        font-size: 30px;
        cursor: pointer;
    }
    .navbar .menu{
        display: none;
    }
    /*Mian*/
    .ContenedorMain .contenedor {
    grid-row: 1/7; 

}
.contenedor h1 {
    font-size: 25px;

}
.contenedor p{
    font-size: 12px;
}
.ContenedorMain .botondeContacto{
    font-size: 10px;
    font-weight: 600;
    color: coral;
    text-transform: uppercase;
    background-color: black;
    border: solid 1px yellow;
}
/*Footer */

.ContenedorDePie{
    height: 110px;
}
.ContenedorDePie .seguime {
    display: none;
}
.ContenedorDePie .edicionCoderHouse{
    font-size: 15px ;
    font-weight: 600;
    text-transform: uppercase;
}
.linkdelcv{

    align-items: center;
    margin-left: 30%;


}

}

/* Bio*/
.contenedorgeneral {
    justify-content: center; 
}
.contenedorgeneral h2{
    font-size: 35px;
    color: black;
    text-transform: uppercase ;
    text-align: center;
    margin: 5%;

    }
.contenedorgeneral img{
    display: flex;
align-items: center;
margin-left: 25%;
border: solid ;
margin-bottom: 5%;

}
.contenedorgeneral p{
    font-size: small;
    margin: 4%;
    text-align: center;
    background-color: grey;
}
section img{
    display: flex;
    align-items: center;
    margin-left: 25%;
    max-width: 600px;
    border: solid ;
    margin-bottom: 10%;

}
section article a{
    display: block;
    align-items: center;
    margin: 0 40% 5% 50%;